#page-wrapper #main .full-container #container {
    width: 73%;
    float: right;
}

body #secondary aside .product-categories:first-child > li:first-child > a {
    text-decoration: none;
    margin-left: -16px;
    font-weight: bold;
    color: #515151;
    font-size: 16px;
    padding: 4px 8px 4px 16px;
}

body #secondary aside .product-categories li a {
    color: #6e6e6e;
    font-weight: bold;
}

body #secondary aside .product-categories li ul li {
    list-style-type:none;
}

body #secondary aside .product-categories li ul li ul li{
    list-style-type: circle;
    margin-left: 10px;
}

body #secondary .widget ul li {
    padding: 12px 0;
    border-bottom: 1px solid #e8e8e8;
}

body #secondary .widget ul li ul li{
    padding: 12px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: none;
}

body #secondary .widget ul li a {

}

body #secondary .widget ul li a:hover {
    color: #3183bf;
    font-weight: bold;
    text-decoration: none;
}

body #secondary aside {
    width: 80%;
    background-color: rgb(243,242,234);
    padding: 10px;
}

/**
 * ----- HOME PAGE -------
 */
h3 .vantage-carousel-title .vantage-carousel-title-text {
    color: #444444;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 36px;
    margin: 0;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial;
}

body .panel-grid-cell .widget-title {
    text-align: center;
}
/*--------------------------- HOME PAGE -----------------------------------*/
.widget.trung_show_product ul{
    margin: 0;
}
.site-main .st_show_product_home_page { list-style-type: none; overflow: hidden; width: 100%; box-sizing: border-box; }
.site-main .st_show_product_home_page li { float:left; margin: 10px 1%; padding: 0; width: 23%; }
.site-main .st_show_product_home_page li:hover {
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.site-main .st_show_product_home_page li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.site-main .st_show_product_home_page li .st_title {
    padding-top: 0;
    text-align: center;
}
.site-main .st_show_product_home_page li .st_title .st_post_title {
    font-weight: 500;
}
.site-main .st_show_product_home_page li a img { width: 100%; max-height: 170px; }
.trung_show_product .widget-title {
    font-size: 30px;
    text-align: center;
}
.gach_ngang {
    border-bottom: 1px solid #ddd;
    width: 70%;
    text-align: center;
    margin: auto;
}
#content .page-title {
    color: #FFC52A;
    font-size: 32px;
    font-weight: 700;
    border-bottom: 1px solid #ffc52a;
    margin: 20px 0;
    padding-bottom: 20px;
}
#content .term-description {
    border-bottom: 1px solid #ffc52a;
    margin: 20px 0;
    padding-bottom: 20px;
}
.woocommerce ul.products li.product a img {
    height: 150px;
}
@media screen and ( max-width: 1280px)  {

}

@media screen and (min-width: 960px) and ( max-width: 1279px)   {

}

@media screen and (min-width: 780px) and ( max-width: 959px)   {

}

@media screen and (min-width: 600px) and ( max-width: 779px)   {

}

@media screen and (min-width: 320px) and ( max-width: 599px)   {

}